{% include('header.html.twig') %}

        <main role="main">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-sm-8 ">
                        <p class="card-text">All the books you purchased are listed here.</p>

                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col-4">Book Name</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">count</th>
                                <th scope="col">Total</th>
                                <th scope="col-1">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in cart_books %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.price | format_currency('LKR') }}</td>
                                        <td>{{ book.count }}</td>
                                        <td>{{ (book.price * book.count) | format_currency('LKR') }}</td>
                                        <td>
                                            <span class="badge badge-danger badge-pill btn-remove-book" data-id="{{ book.id }}" style="cursor: pointer;">
                                                <svg class="bi bi-trash2-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.037 3.225l1.684 10.104A2 2 0 005.694 15h4.612a2 2 0 001.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                                                    <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z" clip-rule="evenodd"/>
                                                </svg>
                                            </span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">No book selected.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <form method="POST">
                            <div class="input-group mb-3 text-right align-self-end">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Have a coupon code?</span>
                                </div>
                                <input type="text" class="form-control col-3" value="{{ code }}" name="code" id="code"
                                    placeholder="Type coupon code here" aria-label="Cupon code" aria-describedby="inputGroup-sizing-default">
                                <div class="input-group-append">
                                    <button type="submit" id="submit" name="submit" class="btn btn-dark btn-coupon-submit">Submit</button>
                                </div>
                            </div>
                        </form>

                        <h5 class="text-right">Total Price: {{ total['total'] | format_currency('LKR') }}/=</h5>

                        {% if total['discount'] > 0 %}
                        <h6 class="text-right">Total discount: {{ total['discount'] | format_currency('LKR') }}/=</h6>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <button type="button" class="btn btn-success col-3">Pay now</button>
                </div>
            </div>
        </main>


        <script type="application/javascript">
            $(document).ready(function(){
                function remove_book(id){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('cart_ajax_remove') }}",
                        data: { id: id }
                    })
                    .done(function(response) {
                        location.reload();
                    });
                }

                $(".btn-remove-book").on('click', function(){
                    remove_book($(this).data('id'))
                });
            });
        </script>
        
    </body>
</html>
