{% if cart_books %}
<div class="card popup-cart" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cart
      <span class="badge badge-pill badge-info">{{ total['total_items'] }}</span>
    </h5>
    <p class="card-text">All the books you purchased are listed here.</p>

    <ul class="list-group" style="max-height: 38vh; overflow: auto; margin-bottom: 20px;">
        {% for book in cart_books %}
            <li class="list-group-item d-flex justify-content-between align-items-center book-item">
                {{ book.name }}
                <!--<span class="badge badge-pill badge-info">{{ (book.price * book.count) | format_currency('LKR') }}</span>-->
                <span class="badge badge-primary badge-pill btn-remove-book" data-id="{{ book.id }}" data-value="{{ book.count }}" style="cursor: pointer;">{{ book.count }}</span>
            </li>
        {% else %}
          <p class="card-text">No book selected.</p>
        {% endfor %}
    </ul>
    <h5>Total Price: {{ total['total'] | format_currency('LKR') }}/=</h5>

    {% if total['discount'] > 0 %}
      <h6>Total discount: {{ total['discount'] | format_currency('LKR') }}/=</h6>
    {% endif %}

    <a href="{{ app.request.getBaseURL() }}/checkout" class="btn btn-primary" style="margin-bottom: 20px;">Checkout</a>
  </div>
</div>
<script>

$(document).ready(function(){
  $('.book-item').hover(
    function(){
      var c = $(this).find('.btn-remove-book')
      c.removeClass('badge-primary').addClass('badge-danger');
      c.html(c.data('value') + ' ' +
        '<svg class="bi bi-trash2-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">' +
        '<path d="M2.037 3.225l1.684 10.104A2 2 0 005.694 15h4.612a2 2 0 001.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>' +
        '<path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z" clip-rule="evenodd"/></svg>'
      );
    },
    function(){
      var c = $(this).find('.btn-remove-book')
      c.html(c.data('value'));
      c.removeClass('badge-danger').addClass('badge-primary');
    }
  );
});

</script>
{% endif %}